:root {
  --blue: #0625af;
  --green: #3FAD27;
  --red: 	#ad273f;
  --background: #575757;
  --shapes: #202020;
  --text-title: #dfdfdf;
  --text: #ffffff;
  --text-light: #ebeaf1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0d0d0d;
  font: 16px "Poppins", Arial, sans-serif;
  color: #121214;
}

input, textarea {
  font-family: "Poppins";
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 2.5rem 1rem;
}

button, .checkmark {
  cursor: pointer;
}